.blog_text{
    text-align: center;
}
.blog_container{
    height: 530px;
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
    margin: 40px 15%;
    padding-top: 30px;
}
.blog_Card{
    height: 80%;
    width: 100%;
    /* margin-top: 30px; */
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    
}
.blog_img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    opacity: 1;
}
.blog_img :hover{
    opacity: 0.8;
    transition: all 0.3s ease;
}

@media (max-width: 900px) {
    body{
    background-color: aquamarine !important;
    }
    .blog_container{
        height: 1300px;
        width: 75%;
        display: block;
        justify-content: center;
        text-align: center;
        margin: 10px 15%;
    }
    .blog_Card{
        height: 33%;
        width: 100%;
        /* margin-top: 30px; */
        border-radius: 30px;
        justify-content: center;
        text-align: center;
        margin: 5px 10px 5px 1px;
        /* background-color: aqua !important; */
        border: 1px solid orange;
    }
    .blog_img{
        height: 83%;
        width: 100%;
        border-radius: 30px;
        opacity: 1;
    }
}